@Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <li>
            <input type="text" data-resulturl="@Url.Action("ShowSearchResult", "Home")" data-partialurl="@Url.Action("GetSearchItemPartial", "Home")" style="max-width: 100%; width: 500px " class="form-control" id="searchInput" data-searchurl="@Url.Action("Search", "Home")" placeholder="@MusicCenter.Common.Resources.Global.SearchPlaceHolder"/>
            <div id="menu-container" style="position:absolute; z-index: 999999"></div>
        </li>

<style>
       .ui-autocomplete {
           max-height: 500px;
           overflow-y: auto;
           /* prevent horizontal scrollbar */
           overflow-x: hidden;
           /* add padding to account for vertical scrollbar */
           padding-right: 20px;
       }
       /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
       * html .ui-autocomplete {
           height: 500px;
       }
</style>
<script type="text/javascript">

    function GetSearchItemDetails(itemId, itemCategory)
    {
        var result;

        $.ajax({
            url: $('#searchInput').data('partialurl'),
            type: 'get',
            data: {
                searchItemId: itemId,
                searchItemCategory: itemCategory
            },
            async: false,
            success: function (data) {
                result = data;
            }
        });

        return result;
    }

    $(document).ready(function () {
        $.ui.autocomplete.prototype._renderItem = function (ul, item) {

            var SearchItemDetails = GetSearchItemDetails(item.value, item.category);      

            return $("<li>")
                    .append(SearchItemDetails)
                    .appendTo(ul);
        };

        $.widget("custom.catcomplete", $.ui.autocomplete, {
            _renderMenu: function (ul, items) {
                var that = this,
                    currentCategory = "";
                $.each(items, function (index, item) {
                    if (item.category != currentCategory) {
                        ul.append("<li class='' style='pointer-events: none;font-weight: bold; padding: .2em .4em; margin: .8em 0 .2em;line-height: 1.5;'>" + item.category + "</li>");
                        currentCategory = item.category;
                    }
                    that._renderItemData(ul, item);
                });
            }
        });

        $("#searchInput").catcomplete({
            delay: 0,
            source: function (request, response) {
                jQuery.get($('#searchInput').data('searchurl'), {
                    query: request.term
                }, function (data) {
                    response(data.Data);
                })
            },
            select: function (event, ui) {
                event.preventDefault();
                $("#searchInput").val(ui.item.label);

                jQuery.get($('#searchInput').data('resulturl'), {
                    
                        label: ui.item.label,
                        value: ui.item.value,
                        category: ui.item.category
                    }
                , function (data) {
                    window.location.href = data;
                })
                
            },
            appendTo: '#menu-container',
            minLength: 3
        });
    })
    
</script>         
