<div class="list-group">
    <a href="#" class="list-group-item">1. sad sdffd</a>
    <a href="#" class="list-group-item">2. dssdsdf dfdf</a>
    <a href="#" class="list-group-item">3. ooop aasa </a>
    <a href="#" class="list-group-item">4. sdf aaaaa</a>
    <a href="#" class="list-group-item">5. wwwolo wwo</a>
    <a href="#" class="list-group-item">6. ssso ng</a>
    <a href="#" class="list-group-item">7. ooop aasa </a>
    <a href="#" class="list-group-item">8. sdf aaaaa</a>
    <a href="#" class="list-group-item">9. wwwolo wwo</a>
    <a href="#" class="list-group-item">10. ssso ng</a>
    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>
