@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
            <div class="col-md-6" id="BandsPanel">
                @Html.Partial("_BandsPanel")
            </div>
            <div class="col-md-6" id="CalendarPanel">

            </div>
</div>
</div>


