@model MusicCenter.Common.ViewModels.Band.AddAlbumViewModel


@Html.Action("RenderBandLayout", "Band", new { BandName = @Model.BandName });

<div id="BodyContent" style="margin-left: 50px">

</div>
