@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Band/BandList.js")
@Scripts.Render("~/Scripts/Layout/DataFilter.js")
@Html.Partial("_DataFilter", Model)

<div id="bandList">
    @Html.Partial("_BandListPartial", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}


