@using Webdiyer.WebControls.Mvc
@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="bands">
    @Html.Partial("_BandListPartial", Model)
</div>
@section Scripts
{
    Html.RegisterMvcPagerScriptResource();
}

