@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="bandList">
    @Html.Partial("_BandListPartial", Model)
</div>
@section Scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}

