@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DataFilter", "BandList")

<div id="dataList">
    @Html.Partial("_BandListPartial", Model)
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Band/BandList.js")
    @Scripts.Render("~/Scripts/Layout/DataFilter.js")
    @{Html.RegisterMvcPagerScriptResource();}
}


