@model MusicCenter.Common.ViewModels.Band.BandProfileViewModel

@{
    Html.RenderAction("RenderBandLayout", "Band", new { BandName = @Model.Name });
}

<div id="BodyContent" style="margin-left: 50px">
    
</div>
