@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Band/BandList.js")

<div id="bandList">
    @Html.Partial("_BandListPartial", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}


