@model PagedList<MusicCenter.Common.ViewModels.Band.BandListItemViewModel>

<div id="dataList">
    @Html.Partial("_FavouriteBandsPartial", Model)
</div>

@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}



